.ride-by {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex: 1 1 250px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 9rem 0;
}

@media screen and (max-width: 760px) {
  .ride-by {
    width: 95vw;
    padding: 5rem 0;
  }
}
