.result-card{
    border-radius: 0.5rem;
    width: 100%;
    background-color: white;
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-card img{
    width: 50px;
    height: 50px;
}
.result-card .available{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}
.result-card h4 {
    text-transform: capitalize;
}